/.idea/
db/.csv
/out/
../-1.14-windows.xml
        ../.android/
        ../.bash_history
        ../.cache/
        ../.gitconfig
        ../.invision-studio/
        ../.lesshst
        ../.m2/
        ../.nbi/
        ../.viminfo
        ../.vscode/
        ../3D Objects/
        ../AppData/
        ../Contacts/
        ../Downloads/
        ../Favorites/
        ./
        ../IntelGraphicsProfiles/
        ../Links/
        ../Music/
        ../NTUSER.DAT
        ../NTUSER.DAT{f3105c0a-fec1-11ee-93f5-2839269066aa}.TM.blf
        ../NTUSER.DAT{f3105c0a-fec1-11ee-93f5-2839269066aa}.TMContainer00000000000000000001.regtrans-ms
        ../NTUSER.DAT{f3105c0a-fec1-11ee-93f5-2839269066aa}.TMContainer00000000000000000002.regtrans-ms
        ../OneDrive/
        ../Saved Games/
        ../Searches/
        ../Tarea1 POO Alcantar Becerril Victor.jade
        ../Tarea1 POO Alcantar Becerril Victor.js
        ../Tarea1 POO Alcantar Becerril Victor.jsx
        ../Tareai1POO Alcantar Beceril Victor.jsx
        ../Videos/
        ../hello-world/
        ../newreactjs.jsx
        ../newreactjs1.jsx
        ../newreactjs2.jsx
        ../ntuser.dat.LOG1
        ../ntuser.dat.LOG2
        ../ntuser.ini
        ../patchwork/
